.row{
	width:100%;
	margin:0;
	padding:15px;
}
.grid{
	margin: 0 auto;
	padding-top: 10px;
}
.spacer, ng-masonry-grid-item, .grid-item{
	transition-duration:0ms !important;
	width: 580px;
	margin:0 auto;
}
.spacer{
	margin:0 0 !important;
	width:580px;
}
img {
	max-width:100%;
}
.grid-item{

}
.affix{
	position: fixed;
}
#gallery {
	padding:0;
	padding-top: 0.5vw;
}
.btn-block {
	margin-top: 3rem;
}
.btn-nav {
	width:100%;
	padding-top:30px;
	padding-bottom:30px;
	font-family: 'Julius Sans One';
	font-size: 1.63rem;
	color: #9c9c9c;
}
.btn-social {
	width:3rem;
	background-color: #212529;
	padding:.25rem;

}
.socialrow {
	margin-bottom:auto;
	position:fixed;
	bottom:2vh;
	margin-bottom:-0vh;
	left:6.5vw;
	z-index: 2;
}
.social-icon{
	width:100%;
}
.nav {
		height:95vh;
		margin-top:-3vw;
		padding-top:4vw;
		left: 5%;
		z-index: 1;	
}
.name{
	padding-top: 10px;
	padding-bottom:0px;
	white-space: nowrap;
	color: FloralWhite;
	font-size: 3.4rem;
	text-align:left;
	display:inline;
	float:left;
	z-index: 2;
	font-family: 'Julius Sans One'
}
.btn-nav, .name{
	padding-right: 16px;
	padding-left: 16px;
}
.btn-nav{

}
.flex-column{
	position:sticky;
	top: -4vw;
}
#dropdownMenu2, dropdownOptions {
	display: none;
	font-size:4vw;
	padding: 0rem 0rem;
	margin: -2vw 0;
	color: #cccccc;
	size: 5vw;
	opacity:1;
	background-color:transparent;

}
#menuicon {
	width:8vw;
}
#top-container{
	display:none;
}
#navigation{
	padding:0;
	text-align: center;
	flex-direction: row;
	justify-content: center;
}
@media screen and (max-width: 3000px) {
	.spacer, .grid ng-masonry-grid-item, .grid-item{
		width:570px;
	}

}
@media screen and (max-width: 2150px) {
	.spacer, .grid ng-masonry-grid-item, .grid-item{
		width:520px;
	}

}
@media screen and (max-width: 1940px) {
	.spacer, .grid ng-masonry-grid-item, .grid-item{
		width:480px;
	}

}
@media screen and (max-width: 1835px) {
	.spacer, .grid ng-masonry-grid-item, .grid-item{
		width:700px;
	}

}
@media screen and (max-width: 1745px) {
	.spacer, .grid ng-masonry-grid-item, .grid-item{
		width:650px;
	}

}
@media screen and (max-width: 1635px) {
	.spacer, .grid ng-masonry-grid-item, .grid-item{
		width:575px;
	}

}
@media screen and (max-width: 1490px) {
	.spacer, .grid ng-masonry-grid-item, .grid-item{
		width:500px;
	}

}
@media screen and (max-width: 1260px) {
	.spacer, .grid ng-masonry-grid-item, .grid-item{
		width:100%;
	}
	#gallery, .grid{
		padding:0 2vw;
	}
	.btn-nav {
		font-size:2.33vw;
	}
	.name{
		font-size:3.5rem;
	}

}
@media screen and (max-width: 920px) {
	#gallery{
		z-index: 1;
		margin:2vw;
		margin-top:12vw;
		padding-top: 0;
		width:100% ;
		max-width: 100% !important;
		
	}
	.grid{
		padding:0;
	}
	#dropdownMenu2, dropdownOptions {
		display: inline-block;
		float:right;
		align-content: start;
		margin-left:auto;
	}
	

	.name,#top-container{
		font-size: 8vw;
		display: flex;
		background-color: #212529;
		margin:0;
		z-index: 2;
	}
	.row{
		padding:0px;
	}
	#navigation, .name-big {
		display: none;
	} 

}
