<div class="container-fluid w-100 main">
  <div class="row w-100">
    <div class="col-12 affix" id="top-container">
    <h1 class="name btn btn-link btn-nav btn-inline btn-lg" (click)="changeFilter('any')"> Stefan Grasu       </h1>
        
      <button class="btn" id="menu" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img id= "menuicon" src="assets/icons/menu.svg" alt="menu"/>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2" id="dropdownOptions">
          <button type="button" class="btn btn-link btn-nav btn-block btn-lg"  *ngFor="let album of albums" (click)="changeFilter(album.title)">{{album.title}}</button>
        </div>
    </div>
          <h1 class="name name-big btn btn-link btn-nav btn-inline btn-lg" (click)="changeFilter('any')"> Stefan Grasu       </h1>
    <div class="col-2" id="navigation">
      <nav class="nav flex-column affix">
        <button type="button" class="btn btn-link btn-nav btn-block btn-lg"  *ngFor="let album of albums" (click)="changeFilter(album.title)">{{album.title}}</button>
      </nav>
    </div>
    <div class="col-md-10" id="gallery">
      <ng-masonry-grid class="grid"
        [useImagesLoaded]="true"
        [masonryOptions]="{ transitionDuration: '0s', gutter: 25, fitWidth:'true', itemSelector: 'ng-masonry-grid-item' }"
        [useAnimation]= "false"
        (onNgMasonryInit)="onNgMasonryInit($event)" >
        <ng-masonry-grid-item class="spacer grid-item"></ng-masonry-grid-item>
       <ng-masonry-grid-item class="grid-item real" *ngFor="let photo of photos" [hidden] = "filter !== photo.album && filter !== 'any'">
        <a data-toggle="lightbox"
         [attr.data-gallery]=" filter === 'any'? 'any' : photo.album"
         href={{photo.src}}>
          <img src = {{photo.thmb}}/>
        </a>
       </ng-masonry-grid-item>
     </ng-masonry-grid>
    </div>